.history-header {
    margin-top: 0;
    padding: 2px 2px 2px 2px;
    font-weight:bold;
}

.history-header-general {
    background: lightsteelblue;
}

.history-header-decommission {
    background-color: lightcoral;
}

.history-header-deploy {
    background-color: #CCCCFF;
}

.history-header-return {
    background-color: #C2FFE0;
}

.history-content {
    background-color: #F0EDED;
    padding:5px 5px 5px 15px;
}

.history-creator {
    float: right;
    color: #828282;

}

.history-header-content {
    overflow:hidden;
    display:inline-table;
    text-align:left;
}

.history-incident {
    margin-left:5px;
    width:150px;
}

.history {
    margin-bottom: 0px;
}
