.red-button {
    background: #f0a198 !important;
    color: black !important;
}

.purple-button {
    background: #CCCCFF !important;
    color: black !important;
}

.green-button {
    background: #C2FFE0 !important;
    color: black !important;
}

.orange-button {
    background: #ffc58b !important;
    color: black !important;
}