{% extends "admin/base_site.html" %}

{% load i18n admin_static %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="/admin/">{% trans "Home" %}</a> >
        <a href="/admin/assets/">Asset Admin</a> >
        <a href="/admin/assets/asset/">Assets</a> >
        Mass Deploy by CSV
    </div>
{% endblock %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
    {# action=".." in order to force post to reach the get_queryset method under AssetAdmin #}
    {# must inlcude enctype to support file uploads. See https://docs.djangoproject.com/en/1.9/topics/http/file-uploads/ #}

        {% csrf_token %}

        <h2>Mass Deploy by CSV</h2>
        <div>The CSV file used must consist of <strong>two columns</strong> only:
            <ul>
                <li>The first column with the asset name/tag.</li>
                <li>The second with new owner.</li>
            </ul>
        </div>
        <br>
        <div>
            {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
                <br>
            {% endfor %}
            <br>
            <input type="hidden" name="action" value="csvdeploy" />
            <input type="submit" name="csvdeploy" value="Mass Deploy" style="color: #FF3333;" /> {# Add class="default" to look the same as admin #}
            <input type="submit" name="cancel" value="Cancel" />
        </div>



    </form>
{% endblock %}