{% extends "admin/base_site.html" %}

{% block content %}
    <form action=".." method="post" enctype="multipart/form-data">
    {# action=".." in order to force post to reach the get_queryset method under AssetAdmin #}
    {# must inlcude enctype to support file uploads. See https://docs.djangoproject.com/en/1.9/topics/http/file-uploads/ #}

        {% csrf_token %}

        <h2>Upload List of Assets to Filter</h2>
        <div>The list must be a single column csv file containing asset names only.</div><br>

        <div>
            {{ form }}
            <input type="hidden" name="action" value="csvupload" />
            <input type="submit" name="csvupload" value="CSV Upload" style="color: #FF3333;" /> {# Add class="default" to look the same as admin #}
            <input type="submit" name="cancel" value="Cancel" />
        </div>
        <br>
        <div><span style="font-weight: bold; color: #FF3333;">WARNING:</span> Do not upload lists of more than 500 assets. You may accidentally select all active assets!</div>


    </form>
{% endblock %}