{% extends "admin/base_site.html" %}

{% block content %}
    <form action="" method="post">

        {% csrf_token %}

        <h2>Deploy the following Assets</h2>

        <div>
            {{ form }}
            <input type="hidden" name="action" value="deploy" />
            <input type="submit" name="deploy_asset" value="Deploy" style="color: #FF3333;" /> {# Add class="default" to look the same as admin #}
            <input type="submit" name="cancel" value="Cancel" />
        </div>



        <ul>
            {% for object in objects %}
                <li>
                    <a href="{{ object.pk }}/">{{ object.name }}</a>
                    {# Research what the below input achieves. Required by admin actions? #}
                    <input type="hidden" name="_selected_action" value="{{ object.pk }}">
                </li>
            {% endfor %}
        </ul>

    </form>
{% endblock %}